 <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>System Current Usage</title>
        <style>
            body {{ font-family: Arial, sans-serif; background-color:powderblue; text-align:center; }}
            .container {{ max-width: 600px; margin: 0 auto; padding: 20px; }}
            .usage {{ margin: 20px 0; }}
        </style>
    </head>
    <body>
        <div class="container">
            <h1>System Usage</h1>
            <div class="usage">
                <h2> Current Usage</h2>
            </div>
        </div>
    </body>
    </html>
